[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chaostoolkit = "*"
requests = "~=2.27.1"

[dev-packages]
setuptools = "*"
coverage = "*"
pytest = "*"
flake8 = "*"
pylint = "*"
pytest-cov = "*"
semver = "*"
build = "*"
wheel = "*"
requests_mock = "*"

[requires]
python_version = "3"
